.carousel {
  .carousel-item {
    height: 100%;
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}

.carousel-indicators {
  li {
    border-color: $gray-600;
  }
  .active {
    background-color: $gray-600;
  }
}

@include media-breakpoint-up(lg) {
  .carousel {
    .carousel-indicators {
      display: none;
    }
  }
}
