.carousel {
  margin-bottom: 1.5rem;
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
  .direction {
    z-index: auto;
  }
  .carousel-inner {
    height: 340px;
  }
  .carousel-item {
    height: 100%;
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .caption {
      position: absolute;
      bottom: 28px;
      left: 90px;
      max-width: 340px;
      color: #fff;
      .caption-description p {
        color: #fff;
      }
    }
    figure {
      display: inline-block;
      margin: 0;
    }
  }
  .carousel-control {
    opacity: 1;
    .icon-next,
    .icon-prev {
      &::before {
        content: "";
      }
      i {
        font-size: 3.125rem;
        color: #fff;
      }
      &:hover {
        i {
          color: $primary;
        }
      }
    }
    .icon-prev {
      left: 1rem;
    }
    .icon-next {
      right: 2rem;
    }
    &.left,
    &.right {
      background: none;
    }
  }
}

.carousel-indicators {
  li {
    border-color: $gray-600;
  }
  .active {
    background-color: $gray-600;
  }
}

@include media-breakpoint-up(lg) {
  .carousel {
    .carousel-indicators {
      display: none;
    }
  }
}
