@use "sass:map";

.product-main-images {
  position: relative;

  &__modal-trigger-layer {
    position: absolute;
    right: map.get($spacers, 2);
    bottom: map.get($spacers, 2);
    z-index: 2;

    width: 1.6em;
    height: 1.6em;
    padding: 0;
    line-height: 1.6em;

    border: 0;
    border-radius: 50%;

    @include font-size(20px);
  }
}
