.menu {
  &-top {
    display: flex;
    margin: 0;
  }

  &__item-link--top {
    @include font-size(18px);
    color: $gray-700;
    font-weight: 600;
    display: block;
    padding: $small-space $medium-space;
  }

  &__collapseicon {
    width: 3rem;
    height: 1.5rem;
    display: block;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
  }
}

@include media-breakpoint-up(md) {
  .menu__item-header {
    height: 100%;
  }
  .menu-sub {
    position: absolute;
    opacity: 0;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: -1;
    transition: all 0.5s ease;
  }
  .menu-sub__content > ul {
    padding: 10px;
    background-color: #fff;
    box-shadow: $box-shadow;
  }
  .menu__item--active .menu-sub {
    z-index: 2;
    opacity: 1;
  }
  .menu-sub__list--1 {
    display: flex;
  }
  .menu__item--1 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .menu__item-link--1 {
    text-transform: uppercase;
    color: $black;
  }
}

//mobile
@include media-breakpoint-down(sm) {
  .menu-top {
    flex-direction: column;
    margin-bottom: $medium-space;
  }
  .menu-sub {
    width: 100%;
    transition: all 0.3s ease-out;
  }
  //remove padding from container class
  .menu-sub__content {
    padding: 0;
  }
  .menu__item-link--top {
    padding: 0;
  }
  .js-top-menu {
    margin-right: -$modal-inner-padding;
    margin-left: -$modal-inner-padding;
  }
  .menu__item {
    //padding: $spacer/2;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
  }
  .menu__item--top:not(:first-child) {
    border-top: 0;
  }
  .menu__item--sub:last-child,
  .menu__item--sub:first-child:not(:last-child) {
    border-bottom: 0;
  }
  .menu__item-header {
    display: flex;
    justify-content: space-between;
    padding: rem-calc(10px) rem-calc(15px);
  }
  .menu__item-link--nosubmenu {
    padding: rem-calc(10px) rem-calc(15px);
    display: block;
  }

  //increase offset
  .menu__item--1 {
    .menu__item-link--nosubmenu,
    .menu__item-header {
      margin-left: 10px;
    }
  }
  .menu__item--2 {
    .menu__item-link--nosubmenu,
    .menu__item-header {
      margin-left: 20px;
    }
  }
  .menu__item--3 {
    .menu__item-link--nosubmenu,
    .menu__item-header {
      margin-left: 30px;
    }
  }
}
