// FIX TO MODAL, hidden by default
.modal {
  display: none;
}

// FIX TO OFFCANVAS, hidden by default
.offcanvas {
  display: none;
}

// FIX TO DROPDOWN, hidden by default
.dropdown-menu {
  display: none;
}

//FIX TO TOAST, opacity by default
.toast:not(.show),
.fade:not(.show):not(.active) {
  opacity: 0;
  display: none;
}
