
.page-loader {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba($white, 0.5);
  z-index: 1001;
  display: none;
  align-items: center;
  justify-content: center;

  .page-loader-active & {
    display: flex;
  }
}
