
.product-information {
  .product-description {
    img {
      max-width: 100%;
      height: auto;
    }

    ul {
      padding-left: .75rem;
      list-style: inherit;
      list-style-position: inside;
    }
  }
}
