
.product-information {
  .product-description {
    img {
      max-width: 100%;
      height: auto;
    }

    ul {
      padding-left: .75rem;
      list-style: inherit;
      list-style-position: inside;
    }
  }
}


.product-discounts {
  margin-bottom: 1.5rem;
  > .product-discounts-title {
    font-size: $font-size-sm;
    font-weight: 400;
  }
  > .table-product-discounts {
    thead tr th {
      width: 33%;
      padding: map-get($spacers, 2) map-get($spacers, 3);
      text-align: center;
      background: #fff;
      border: 0.3125rem $gray-200 solid;
    }
    tbody tr {
      background: $gray-200;
      &:nth-of-type(even) {
        background: #fff;
      }
      td {
        padding: map-get($spacers, 2) map-get($spacers, 3);
        text-align: center;
        border: 0.3125rem $gray-200 solid;
      }
    }
  }
}

#product-details {
  .label {
    font-size: $font-size-base;
    font-weight: 700;
    color: $gray-900;
  }
}
.product-features {
  margin-top: map-get($spacers, 3);
  margin-left: 0.3125rem;
  > dl.data-sheet {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    dd.value,
    dt.name {
      flex: 1 0 40%;
      min-height: 2.5rem;
      padding: map-get($spacers, 2);
      margin-right: map-get($spacers, 2);
      margin-bottom: .5rem;
      font-weight: 400;
      text-transform: capitalize;
      word-break: normal;
      background: $gray-100;
      &:nth-of-type(even) {
        background: $gray-200;
      }
    }
  }
}

.product-customization {
  margin: map-get($spacers, 5) 0;
  .product-customization-item {
    margin: map-get($spacers, 3) 0;
  }
  .product-message {
    width: 100%;
    height: 3.125rem;
    padding: 0.625rem;
    resize: none;
    background: $gray-100;
    border: none;
    &:focus {
      background-color: #fff;
      outline: 0.1875rem solid $primary;
    }
  }
  .file-input {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2.625rem;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
  }

  .customization-message{
    margin-top: 20px;
  }
  .custom-file {
    position: relative;
    display: block;
    width: 100%;
    height: 2.625rem;
    margin-top: map-get($spacers, 3);
    line-height: 2.625rem;
    color: $gray-600;
    text-indent: 0.625rem;
    background: $gray-100;
    button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }
  }
  small {
    color: $gray-600;
  }
}
.product-pack {
  margin-top: map-get($spacers, 5);
  .pack-product-container {
    display: flex;
    justify-content: space-around;
    .pack-product-name {
      flex: 0 0 50%;
      font-size: 0.875rem;
      color: $gray-600;
    }
    .pack-product-quantity {
      padding-left: map-get($spacers, 2);
      border-left: $gray-200 2px solid;
    }
    .pack-product-name,
    .pack-product-price,
    .pack-product-quantity {
      display: flex;
      align-items: center;
    }
  }
}

.products-selection {
  margin-bottom: map-get($spacers, 3);
  .title {
    color: $gray-600;
  }
}
