
.product-information {
  .product-description {
    img {
      max-width: 100%;
      height: auto;
    }

    ul {
      padding-left: .75rem;
      list-style: inherit;
      list-style-position: inside;
    }
  }
}


.product-discounts {
  margin-bottom: 1.5rem;
  > .product-discounts-title {
    font-size: $font-size-sm;
    font-weight: 400;
  }
  > .table-product-discounts {
    thead tr th {
      width: 33%;
      padding: map-get($spacers, 2) map-get($spacers, 3);
      text-align: center;
      background: #fff;
      border: 0.3125rem $gray-200 solid;
    }
    tbody tr {
      background: $gray-200;
      &:nth-of-type(even) {
        background: #fff;
      }
      td {
        padding: map-get($spacers, 2) map-get($spacers, 3);
        text-align: center;
        border: 0.3125rem $gray-200 solid;
      }
    }
  }
}

.product-features {
  margin-top: map-get($spacers, 3);
  margin-left: 0.3125rem;
  > dl.data-sheet {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    dd.value,
    dt.name {
      flex: 1 0 40%;
      min-height: 2.5rem;
      padding: map-get($spacers, 2);
      margin-right: map-get($spacers, 2);
      margin-bottom: .5rem;
      font-weight: 400;
      text-transform: capitalize;
      word-break: normal;
      background: $gray-100;
      &:nth-of-type(even) {
        background: $gray-200;
      }
    }
  }
}

.products-selection {
  margin-bottom: map-get($spacers, 3);
  .title {
    color: $gray-600;
  }
}
