
$extra-small-space: map-get($spacers, 1);
$small-space: map-get($spacers, 2);
$medium-space: map-get($spacers, 3);
$large-space: map-get($spacers, 4);
$extra-large-space: map-get($spacers, 5);
$exxtra-large-space: map-get($spacers, 6);
