$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-ps-socialfollow-discord: "\e909";
$icon-tiktok: "\e90a";
$icon-facebook: "\e900";
$icon-gplus: "\e901";
$icon-instagram: "\e902";
$icon-linkedin: "\e903";
$icon-pinterest: "\e904";
$icon-rss: "\e905";
$icon-twitter: "\e906";
$icon-vimeo: "\e907";
$icon-youtube: "\e908";

