
.cms-content {
  ol,
  ul {
    padding-left: .75rem;
    list-style: inherit;
    list-style-position: inside;
  }

  ol {
    list-style: decimal;
    padding-left: rem-calc(30px);
  }

  img {
    max-width: 100%;
    height: auto;
  }

}
