
.checkout-step {
  &:not(:first-child) {
    border-top: $card-border-width solid $card-border-color;
  }

  &__header {
    border-bottom: 0;
  }

  .content {
    border-top: $card-border-width solid $card-border-color;
  }

  .not-allowed {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .content,
  .done,
  .step-edit {
    display: none;
  }

  &.-unreachable {
    .step-title {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &.-current {
    .step-title {
      cursor: default;
    }

    .content {
      display: block;
    }
  }

  &.-current.-reachable.-complete {
    .done,
    .step-edit {
      display: none;
    }

    .step-number {
      display: inline-block;
    }

    .content {
      display: block;
    }
  }

  &.-reachable.-complete {
    .done {
      display: inline-block;
    }

    .content {
      display: none;
    }
  }

  .step-number {
    display: inline-block;
  }
}

.js-payment-binary {
  display: none;

  .accept-cgv {
    display: none;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      content: "";
    }

    .accept-cgv {
      display: block;
    }
  }
}
