html {
  font-size: 62.5%;
}

body,
html {
  height: 100%;
}

body {
  direction: ltr;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding-left: 0;
}

input, textarea {
  &::-webkit-input-placeholder {
    color: $gray;
  }
  &::-moz-placeholder {
    color: $gray;
  }
  &:-ms-input-placeholder {
    color: $gray;
  }
  &:-moz-placeholder {
    color: $gray;
  }
  &:active {
    &::-webkit-input-placeholder {
      color: $gray-darker;
    }
    &::-moz-placeholder {
      color: $gray-darker;
    }
    &:-ms-input-placeholder {
      color: $gray-darker;
    }
    &:-moz-placeholder {
      color: $gray-darker;
    }
  }
}


input[type=number] {
  -moz-appearance:textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}



@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
}