p {
  font-weight: 400;
  color: $gray;
}

.h1,
.h2,
.h3 {
  color: $gray-darker;
  text-transform: uppercase;
}

.h4 {
  font-weight: $headings-font-weight;
  color: $gray-darker;
}

label,
.label {
  color: $gray-darker;
  text-align: right;
}

small.label,
small.value {
  font-size: $font-size-sm;
}
