.custom-radio {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: $gray 2px solid;
  background: white;
  margin-right: 1.25rem;
  input[type="radio"] {
    opacity: 0;
    cursor: pointer;
  }
  input[type="radio"] {
    &:checked + span {
      display: block;
      background-color: $brand-primary;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      left: 0.125rem;
      top: 0.125rem;
    }
    &:focus + span {
      border-color: $gray;
    }
  }
}