.custom-radio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 1.25rem;
  vertical-align: middle;
  cursor: pointer;
  background: #fff;
  border: $gray 2px solid;
  border-radius: 50%;
  input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    &:checked + span {
      position: absolute;
      top: 0.125rem;
      left: 0.125rem;
      display: block;
      width: 12px;
      height: 12px;
      background-color: $brand-primary;
      border-radius: 50%;
    }
    &:focus + span {
      border-color: $gray;
    }
  }
}
