.color,
.custom-checkbox input[type="checkbox"] + span.color {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.3125rem;
  cursor: pointer;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.05);
  &.active,
  &:hover {
    border: 2px solid $gray-darker;
  }
}

.custom-checkbox {
  position: relative;
  input[type="checkbox"] {
    position: absolute;
    margin-top: 0.25rem;
    cursor: pointer;
    opacity: 0;
    + span {
      display: inline-block;
      width: 0.9375rem;
      height: 0.9375rem;
      margin-right: 3px;
      vertical-align: middle;
      cursor: pointer;
      border: 2px $gray-darker solid;
      .checkbox-checked {
        display: none;
        margin: -0.25rem -0.125rem;
        font-size: 1.1rem;
        color: $gray-darker;
      }
    }
    &:checked + span {
      .checkbox-checked {
        display: block;
      }
    }
    &:focus + span {
      border-color: $gray;
    }
  }
  label {
    text-align: left;
  }
}
