
.display-toggle {

  &__link {
    width: 1.7em;
    height: 1.7em;
    font-size: rem-calc(18px);
    line-height: 1.7em;
    color: $gray-900;
    text-align: center;
    background: $gray-100;
    border-radius: 50%;

    @include hover-focus() {
      color: $gray-900;
      background: $gray-200;
    }

    &.active {
      color: $white;
      background: $primary;
    }
  }

  &__icon {
    font-size: inherit;
    line-height: inherit;
  }
}
