.input-group {
  &.focus {
    outline: 0.1875rem solid $brand-primary;
  }
  .form-control:focus {
    outline: none;
  }
  .input-group-btn {
    height: 100%;
    > .btn {
      padding: 0.625rem 1rem;
      margin-left: 0;
      font-size: 0.6875rem;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      border: 0;
      box-shadow: none;
      &[data-action="show-password"]{
        padding: .78rem 1rem;
        background: $gray;
      }
    }
  }
}
