@import "product-miniature";
@import "product-flags";
@import "customization-modal";
@import "price";
@import "stars";
@import "products-list";
@import "product-slider";
@import "comments-pagination";
