.price {
  @include font-size($font-size-lg);
  font-weight: 700;
  color: $primary;

  &--regular {
    font-weight: 400;
    color: $text-muted;
    text-decoration: line-through;
  }

  &--lg {
    @include font-size($h2-font-size);
  }

  &--sm {
    @include font-size($font-size-base);
  }
}
