
.blockcart {
  &__dropdown {
    width: rem-calc(320px);
    min-width: inherit;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }
}
