@use "sass:map";

.cart-dropdown {
  &__content {
    padding: map.get($spacers, 2) map.get($spacers, 3) map.get($spacers, 3);
  }

  &__products {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    max-height: rem-calc(400px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__close {
    font-size: rem-calc(22px);
    color: $gray-600;

    &:hover,
    &:focus {
      color: $black;
    }
  }
}
