.cart-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba($white, 0.5);

  .cart-loading & {
    display: flex;
  }
}
