@use "sass:map";

.cart-summary-line {
  display: flex;
  justify-content: space-between;
  @include font-size($font-size-base);

  &:not(:last-child) {
    margin-bottom: map.get($spacers, 2);
  }

  &.cart-total {
    @include font-size($font-size-lg);
  }

  .label {
    margin-right: map.get($spacers, 2);
  }

  .value {
    font-weight: 600;
  }
}
