
.cart-loader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba($white, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .cart-loading & {
    display: flex;
  }
}
