
.cart-dropdown {
  &__content {
    padding: map-get($spacers, 2) map-get($spacers, 3) map-get($spacers, 3);
    max-height: rem-calc(500px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__products {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  &__close {
    font-size: rem-calc(22px);
    color: $gray-600;

    &:hover,
    &:focus {
      color: $black;
    }
  }
}
