$gray-darker: $dark;
$gray: $gray-600;
$gray-light: #f1f1f1;
$gray-light-second: #dbdbdb;
$gray-lighter: #f6f6f6;
$gray-lighter-second: #f7f7f7;

$brand-primary: $primary;
$brand-secondary: $secondary;


$brand-success: $success;
$brand-warning: $warning;
$brand-info: $info;
$brand-danger: $danger;


$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$tooltip-bg: $brand-danger;


$extra-small-space: map-get($spacers, 1);
$small-space: map-get($spacers, 2);
$medium-space: map-get($spacers, 3);
$large-space: map-get($spacers, 4);
$extra-large-space: map-get($spacers, 5);
$exxtra-large-space: map-get($spacers, 6);


$warning: #ff9a52;
$warning-second: #f49d6e;
$warning-hover: #fde7bb;
$alert-warning-bg: rgba(255, 154, 82, 0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: #fff;
$btn-tertiary-color: #6c868e;
$btn-tertiary-hover: #bbcdd2;
