$gray-dark: #444;
$gray-darker: #111;
$gray: #7A7A7A;
$gray-light: #F1F1F1;
$gray-light-second: #DBDBDB;
$gray-lighter: #f6f6f6;
$gray-lighter-second: #F7F7F7;



$brand-primary: #2fb5d2;
$brand-secondary: #f39d72;


$brand-success: #4cbb6c;
$brand-warning: #ff9a52;
$brand-info: blue;
$brand-danger: #ff4c4c;


$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 0;
$input-border-color: rgba(0, 0, 0, 0.25);
$headings-font-weight: 700;
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: 0.3125rem;
$small-space: 0.625rem;
$medium-space: 1.25rem;
$large-space: 1.875rem;
$extra-large-space: 2.5rem;
$warning: #FF9A52;
$warning-second: #F49D6E;
$warning-hover: #FDE7BB;
$alert-warning-bg: rgba(255,154,82,0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6C868E;
$btn-tertiary-hover: #BBCDD2;
