/*** SOME GENERIC STYLES ***/

.table-labeled {
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
  .label {
    white-space: normal;
    &.bright {
      color: #fff;
    }
  }
}

/*** Order details page ***/
.page-order-detail {
  .box {
    margin-bottom: 1rem;
  }
  #order-history {
    .history-lines {
      .history-line {
        padding: 0.5rem 0;
        border-bottom: 1px solid $gray-200;
        &:last-child {
          border-bottom: 0;
        }
        .label {
          display: inline-block;
          padding: 0.25rem 0.375rem;
          margin: 0.25rem 0;
          color: #fff;
          border-radius: 3px;
        }
      }
    }
  }
}

/*** Order return page ***/
#order-return-infos {
  .thead-default th {
    color: $gray-900;
  }
  .customization {
    margin-top: 0.75rem;
  }
}

/*** History page ***/
#history {
  .orders {
    margin: 0 -1rem;
    .order {
      a {
        h3 {
          color: $gray-600;
        }
      }
      padding: 0.75rem 1rem;
      border-bottom: 1px solid $gray-200;
      .label {
        display: inline-block;
        padding: 0.25rem 0.375rem;
        margin: 0.25rem 0;
        color: #fff;
        border-radius: 3px;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
