/*** SOME GENERIC STYLES ***/

.table-labeled {
  th {
    vertical-align: middle;
  }

  td {
    vertical-align: middle;
  }

  .label {
    white-space: normal;

    &.bright {
      color: #fff;
    }
  }
}

