.product-table {
  margin: 0;
  overflow: hidden;

  &__head {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    th {
      border-top: 0;
    }
  }

  &__row {
    @include media-breakpoint-up(sm) {
      margin-top: -1px;
    }
  }

  @include media-breakpoint-down(sm) {
    tbody {
      display: block;
    }
  }
}
