@mixin custom-col-padded($width, $padding: 0 $grid-gutter-half-width) {
  flex: 0 0 $width;
  max-width: $width;
  padding: $padding;
}

@mixin custom-col($width) {
  flex: 0 0 $width;
  max-width: $width;
}
