@use "sass:math";

@mixin custom-col-padded($width, $padding: math.div($grid-gutter-width, 2)) {
  flex: 0 0 $width;
  max-width: $width;
  padding-right: $padding;
  padding-left: $padding;
}

@mixin custom-col($width) {
  flex: 0 0 $width;
  max-width: $width;
}
